@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

:root {
    --title-col: hsl(268.62deg 18.97% 49.1%);
    --body-bg-col: hsl(271.15deg 100% 89.8%);
    --grid-border-col: hsl(229deg 9.69% 46.79%);
}

body,
h1,
p {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--body-bg-col);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--title-col);
    text-align: center;

    font-size: 50px;
    padding-bottom: 10px;
    border-bottom: 3px solid hsl(271.15deg 29.71% 68.84%);
    margin-top: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .instructions {
    background-color: hsl(217.14deg 100% 95.88%);
    color: hsl(254.4deg 59.52% 67.06%);

    font-size: 30px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;

    border-radius: 10px;
    padding: 5px 40px;
    margin-top: 35px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);

    margin-top: 35px;
    position: relative;
    border: 7px solid var(--grid-border-col);
}

.grid .knight {
    display: none;

    font-size: 70px;
    position: absolute;
    bottom: 0px;
    left: 0px;

    height: 80px;
    width: 80px;
    line-height: 80px;

    text-align: center;
    vertical-align: middle;

    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.grid .cell {
    background-color: antiquewhite;
}

.moving {
    animation-name: move;
}

@keyframes move {
    from {
        bottom: var(--startBottom);
        left: var(--startLeft);
        animation-timing-function: cubic-bezier(0.37, -0.3, 0.54, 0.99);
    }
    to {
        bottom: var(--endBottom);
        left: var(--endLeft);
    }
}
